[submodule "src/.vim/bundle/base16-vim"]
	path = src/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "src/.vim/bundle/colorsbox"]
	path = src/.vim/bundle/colorsbox
	url = https://github.com/mkarmona/colorsbox
[submodule "src/.vim/bundle/neocomplete.vim"]
	path = src/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "src/.vim/bundle/vaxe"]
	path = src/.vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
[submodule "src/.vim/bundle/vim-airline"]
	path = src/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "src/.vim/bundle/vim-airline-themes"]
	path = src/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "src/.vim/bundle/vim-multiple-cursors"]
	path = src/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
