[submodule "src/.vim/bundle/base16-vim"]
	path = src/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "src/.vim/bundle/colorsbox"]
	path = src/.vim/bundle/colorsbox
	url = https://github.com/mkarmona/colorsbox
[submodule "src/.vim/bundle/neocomplete.vim"]
	path = src/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "src/.vim/bundle/vaxe"]
	path = src/.vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe
[submodule "src/.vim/bundle/vim-airline"]
	path = src/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "src/.vim/bundle/vim-airline-themes"]
	path = src/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "src/.vim/bundle/vim-multiple-cursors"]
	path = src/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "src/.vim/bundle/vim-obsession"]
	path = src/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "src/.vim/bundle/yats.vim"]
	path = src/.vim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "src/.vim/bundle/elm-vim"]
	path = src/.vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "src/.vim/bundle/vim-elixir"]
	path = src/.vim/bundle/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule "src/.vim/bundle/vim-ps1"]
	path = src/.vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "src/.vim/bundle/haskell-vim"]
	path = src/.vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "xmonad"]
	path = config/xmonad
	url = https://github.com/ropwareJB/xmonad
[submodule "src/.vim/bundle/vim-devicons"]
	path = src/.vim/bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
