[push]
	default = simple
[color]
	ui = always
	status = always
	branch = always
	diff = always
	interactive = always
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
	modified = white
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
