
*cursorColor:                         #917154
*colorIT:                             #E3AB8D
*colorBD:                             #F0E5DF
*colorUL:                             #cd546c

URxvt*foreground: #eddcd3
URxvt*background: #181512
URxvt*transparent: true
URxvt*shading: 30

!TomorrowNightBright
#define t_background        #000000
#define t_current_line      #2a2a2a
#define t_selection      	#424242
#define t_foreground      	#eaeaea
#define t_comment	     	#969896
#define t_red		     	#d54e53
#define t_orange	     	#e78c45
#define t_yellow        	#e7c547
#define t_green	        	#b9ca4a
#define t_aqua	        	#70c0b1
#define t_blue	        	#7aa6da
#define t_purple        	#c397d8

*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       t_red
*.color9:       #FF3334

! Green + Bright Green
*.color2:       #444444
! t_green
*.color10:      #222222
! #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15:      t_current_line

! fonts
URxvt*scrollBar: false
URxvt.font: xft:DejaVuSansMono Nerd Font:style=Book:size=9
URxvt.boldFont: xft:DejaVuSansMono Nerd Font:style=Book:size=9
URxvt.allow_bold: true

! urls, and copy / paste
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.lineSpace: 1
